# BeetPx: generated and temporary files
/.beetpx/
/index.html
/itch_io_simulation.html
/public/.beetpx/

# Node.js: dependencies
/node_modules/

# JetBrains IDEs: project configuration
/.idea/

# local playground etc.
/tmp/
